{% extends "layout.html" %}
{% block content %}
  <header>
      <div class="header-container" style="background-image: url({{ category.pageBackground.one().url }})">
        <div class="navbar">
            <h3 class="nav-logo"><span id="logo">LOGO</span><span id="design">DESIGN</span></h3>
            <div class="nav-links">
                <a class="nav-home-away" id="home" href="#">Home</a>
                <a class="nav-home-away" id="away" href="#">Away</a>
            </div>
        </div>
        <div class="title">
             <h1 class="header-title">{{category.pageTitle}}</h1>
            <h4 class="description">{{ category.pageDescription }}</h6>
        </div>
        <div class="btn-group">
            <a href = "https://bonfire-craft.nitro/">
                <button id="checked" class="show-all but">SHOW ALL</button>
            </a>
            <a href = "https://bonfire-craft.nitro/type-of-number/even">
                <button class="show-even but">SHOW EVEN</button>
            </a>
            <a href = "https://bonfire-craft.nitro/type-of-number/odd">
                <button class="show-odd but">SHOW ODD</button>
            </a>
        </div>
    </div>
</div>
</header>
    <div class="cards-container">
        
     <!-- {% set boxes = craft.entries()
            .section('boxes').limit(3).all %} -->
            <!-- Above and below serve the same purpose, just different ways to do it -->

        {% set entries = craft.entries().section('boxes')
            .relatedTo(category)
            .all() %}


        {% for entry in entries %}
        <div class= "card">

            <div>
                <h2>{{ entry.boxTitle }}</h2>
                <h4>{{ entry.boxSubtext }}</h4>
            </div>
            <div class="btn-group">
                <a href="#">
                    <button class="card-btn">{{ entry.boxButton }}</button>
                </a>
            </div>
        </div>
        {% endfor %}

        </div>
    
    </div>
{% endblock %}
