{% extends "layout.html" %}
{% block content %}

{% set links = craft.navigation.nodes('mainNavigation').all() %}
<header>
    <div class="header-container" style="background-image: url({{ entry.pageBackground.one.url }})">
        <div class="navbar">
            <h3 class="nav-logo"><span id="logo">LOGO</span><span id="design">DESIGN</span></h3>
            <div class="nav-links">
                {% nav node in links %}
                <a class="nav-home-away" id="home" href="#">{{ node.link }}</a>
                {% endnav %}
            </div>
        </div>
        
        <div class="title">
            <h1 class="header-title">{{ entry.pageTitle }}</h1>
            <h4 class="description">{{ entry.pageDescription }}</h6>
            </div>
            <div class="btn-group">
                <a href = "https://bonfire-craft.nitro/">
                    <button id="checked" class="show-all">SHOW ALL</button>
                </a>
                <a href = "https://bonfire-craft.nitro/type-of-number/even">
                    <button class="show-even">SHOW EVEN</button>
                </a>
                <a href = "https://bonfire-craft.nitro/type-of-number/odd">
                    <button class="show-odd">SHOW ODD</button>
                </a>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="cards-container">
        
       {# <!-- {% set boxes = craft.entries()
            .section('boxes').all %} -->
            <!-- Above and below serve the same purpose, just different ways to do it -->
            
            #}
            {% set boxes = entry.boxes.all() %}
            
            {% for box in boxes %}
            <div class= "card">
                
                <div>
                    <h2>{{ box.boxTitle }}</h2>
                    <h4>{{ box.boxSubtext }}</h4>
                </div>
                <div class="btn-group card-btn">
                    <a href= {{ box.buttonUrl }}>
                        <button>{{ box.boxButton }}</button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <script src="./js/app.js"></script>
</body>
{% endblock %}
